.container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: transparent;
  justify-content: center;
}

.label {
  font-size: 14px;
  color: #000;
}
.labelDark {
  color: #ffffff;
}

.select {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: transparent;
  cursor: pointer;
  outline: none;
  color: #000;
}
.select option {
  background: #e7e7e7;
}

.selectDark {
  color: #ffffff;
}
.selectDark option {
  background: #2b2b2b;
}

.select:focus {
  border-color: #007bff;
}
